/* ==========================================================================
   @brand
   ========================================================================== */

.brand {
	background: url(../assets/nike-logo.png) no-repeat center center;
	display: block;
	text-indent: -9999px;
}

/* ==========================================================================
   @icons
   ========================================================================== */

.icon {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
}

.icon--cart {
	background-image: url(../assets/cart.png);
	height: 240px;
	width: 240px;
}

.icon--custom {
	background-image: url(../assets/personalize.jpg);
	height: 16px;
	width: 16px;
}

/* ==========================================================================
   @button
   ========================================================================== */

.button {
	border-radius: 4px;
	border: 0;
	display: block;
	font-size: 13px;
	font-weight: 700;
	padding: 14px;
	text-align: center;
	text-transform: uppercase;
}

.button:hover {
	color: #fff;
}

	.button--dark {
		background: #313131;
		color: #FFF;
	}

	.button--orange {
		background: #ff5c2b;
		color: #FFF;
	}

/* ==========================================================================
   @media-querie
   ========================================================================== */

@media (max-width: 767px) {
	.button {
		font-size: 12px;
		padding: 12px;
	}
}

@media (max-width: 480px) {
	.button {
		font-size: 11px;
		padding: 10px;
	}
}